* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    font-size: 14px;
    font-family: "GolosText", serif;
    color: rgba(49, 49, 49, 1);
}
body {
    min-width: 375px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
button{
    border: none;
    cursor: pointer;
}
.container {
    max-width: 1262px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}

.text-red {
    color: rgb(245, 73, 50);
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

